@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 1em;
}
html {
  scroll-behavior: smooth;
}

@import "./css/nav.scss";
@import "./css/hero.scss";
@import "./css/our-services.scss";
@import "./css/service-information.scss";
@import "./css/about-us.scss";
@import "./css/contact.scss";
@import "./css/footer.scss";
